li{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 8px;
}
ul{
     list-style: none;
     padding: 10px;
     box-shadow: 1px -1px 3px black;
}
.user-modal{
     margin: 1rem;
     width: 180px;
     z-index: 2;
}